<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>3D-Modeling Web</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"
        integrity="sha512-zhHQR0/H5SEBL3Wn6yYSaTTZej12z0hVZKOv3TwCUXT1z5qeqGcXJLLrbERYRScEDDpYIJhPC1fk31gqR783iQ=="
        crossorigin="anonymous" defer></script>
      <script src="webgl-demo.js" type="module" defer></script>
      <h1>canvas</h1>
    </header>

    <div class="container">

      <div class="canvas-container">
        <canvas id="glcanvas" width="1920" height="1280"></canvas>
      </div>

      <div class="transform-container">
        <div class="button-row">
          <button id="getData">getData</button>
          <button id="render">render</button>
        </div>
      </div>
    </div>
  </body>
</html>