<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>3D-Modeling Web</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"
        integrity="sha512-zhHQR0/H5SEBL3Wn6yYSaTTZej12z0hVZKOv3TwCUXT1z5qeqGcXJLLrbERYRScEDDpYIJhPC1fk31gqR783iQ=="
        crossorigin="anonymous" defer></script>
      <script src="webgl-demo.js" type="module" defer></script>
      <h1>canvas</h1>
    </header>

    <div class="container">

      <div class="canvas-container">
        <canvas id="glcanvas" width="1280" height="720"></canvas>
      </div>

      <div class="transform-container">
        <div class="button-row">
          <button id="createBlock">createBlcok</button>
          <input type="number" name="block_x" id="block_x" placeholder="Enter x size">  
          <input type="number" name="block_y" id="block_y" placeholder="Enter y size">  
          <input type="number" name="block_z" id="block_z" placeholder="Enter z size">
        </div><br>
        <div class="button-row">
          <button id="createPrism">createPrism</button>
          <input type="number" name="p_x" id="p_x" placeholder="Enter x size">  
          <input type="number" name="p_y" id="p_y" placeholder="Enter y size">  
          <input type="number" name="p_z" id="p_z" placeholder="Enter z size">
        </div>
      </div>          
    </div>
  </body>
</html>