<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>3D-Modeling Web</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"
        integrity="sha512-zhHQR0/H5SEBL3Wn6yYSaTTZej12z0hVZKOv3TwCUXT1z5qeqGcXJLLrbERYRScEDDpYIJhPC1fk31gqR783iQ=="
        crossorigin="anonymous" defer></script>
      <script src="webgl-demo.js" type="module" defer></script>
      <h1>canvas</h1>
    </header>

    <div class="container">

      <div class="canvas-container">
        <canvas id="glcanvas" width="1280" height="720"></canvas>
      </div>

      <div class="modeling-container">
        <div class="button-row">
          <button id="createBlock">createBlcok</button>
          <input type="number" name="block_x" id="block_x" placeholder="Enter x ">  
          <input type="number" name="block_y" id="block_y" placeholder="Enter y ">  
          <input type="number" name="block_z" id="block_z" placeholder="Enter z ">
        </div>
        <div class="button-row">
          <button id="createCone">createCone</button>
          <input type="number" name="cone_radius" id="cone_radius" placeholder="Enter radius ">  
          <input type="number" name="cone_height" id="cone_height" placeholder="Enter height ">  
          <input type="number" name="cone_semiAngle" id="cone_semiAngle" placeholder="Enter semiAngle ">
        </div>
        <div class="button-row">
          <button id="createSphere">createSphere</button>
          <input type="number" name="sphere_radius" id="sphere_radius" placeholder="Enter radius ">  
        </div>
        <div class="button-row">
          <button id="createCylinder">createCylinder</button>
          <input type="number" name="cylinder_radius" id="cylinder_radius" placeholder="Enter radius ">  
          <input type="number" name="cylinder_height" id="cylinder_height" placeholder="Enter height ">  
        </div>
        <div class="button-row">
          <button id="createTorus">createTorus</button>
          <input type="number" name="torus_major_radius" id="torus_major_radius" placeholder="Enter major radius ">  
          <input type="number" name="torus_minor_radius" id="torus_minor_radius" placeholder="Enter minor radius ">  
        </div>
        <div class="button-row">
          <button id="createPrism">createPrism</button>
          <input type="number" name="prism_radius" id="prism_radius" placeholder="Enter radius ">  
          <input type="number" name="prism_height" id="prism_height" placeholder="Enter height ">  
          <input type="number" name="prism_nside" id="prism_nside" placeholder="Enter nSide ">
        </div>
      </div>          
    </div>
  </body>
</html>