/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
html {
  font-size: 16px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

select {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #55515b;
  border-radius: 4px;
}

.select-label {
  font-family: "Microsoft YaHei";
  font-size: 16px;
  font-weight: bold;
}

canvas {
  width: 100%;
  height: auto;
}

.transform-container {
  display: block;
  flex-direction: row;
}

.transform-row {
  font-family: '楷体';
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.transform-row label {
  margin-right: 10px;
  width: 60px;
}

.transform-row input {
  margin-right: 30px;
}

.button-row {
    margin-top: 20px;
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
}

button + button {
  margin-left: 60px;
}

button {
  padding: 10px 20px;
  background-color: #005bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

button + input {
  margin-left: 60px;
}